.logo_bg {
  background: #fff;
}

.margin {
  height: 20px;
}

.nav_bg {
  background:#fff;
  height:60px;
  width: 1200px;
  /*让div居中显示*/
  margin: 0 auto;
}

.main_btn {
  background: #fff;
  color: #000;
  width: 240px;
  height: 60px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.main_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 240px;
  height: 60px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.userManager_btn {
  background: #fff;
  color: #000;
  width: 240px;
  height: 60px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.userManager_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 240px;
  height: 60px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.logout_btn {
  background: #fff;
  height: 60px;
  margin-right: 50px;
  float: right;
}

.el-dropdown-class {
  float: right;
  height: 60px;
}

.el-dropdown-link {
  display: block;
  height: 60px;
  /*负责span中文字垂直居中*/
  line-height: 60px;
  margin-right: 50px;
}

.el-dropdown-menu-class {
  text-align: center;
}

.el-dropdown-item-class {
  color: #337ab7;
}
/**/
.margin-1 {
  height: 10px;
}

.content_bg {
  background: #fff;
  height: 1250px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.user {
  height: 1150px;
}
.content_bg_user {
  background: #fff;
  height: 650px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

/**/
.total_statistic {
  background: #fff;
  height: 300px;
  width: 330px;
  float: left;
  margin-left: 20px;
  border-color: lightgray;
  border-width: 0.5px;
  border-style: solid;
}

.total_statistic .total_statistic_title {
  display: block;
  background: #f3f5fa;
  height: 50px;
  /*负责span中文字垂直居中*/
  line-height: 50px;
  padding-left: 30px;
  border-bottom: 1px solid #ddd;
}

.total_statistic .total_statistic_list {
  padding: 0 20px;
  color: #666;
}

.total_statistic .total_statistic_list li {
  position: relative;
  height: 30px;
  padding-top: 25px;
  border-bottom: 1px solid #ddd;
  display: block;
}

.total_statistic .total_statistic_list li span {
  vertical-align: bottom;
  height: 30px;
  line-height: 30px;
}

.total_statistic .total_statistic_list li #num {
  float: right;
  font-size: 30px;
}
/**/
.margin-2 {
  height: 40px;
  width: 330px;
  float: left;
}

.age_gender_statistic {
  background: #fff;
  height: 372px;
  width: 330px;
  float: left;
  margin-left: 20px;
  border-color: lightgray;
  border-width: 0.5px;
  border-style: solid;
}

.age_gender_statistic .age_gender_statistic_title {
  display: block;
  background: #f3f5fa;
  height: 50px;
  /*负责span中文字垂直居中*/
  line-height: 50px;
  padding-left: 30px;
  border-bottom: 1px solid #ddd;
}

.age_gender_statistic .age_gender_charts {
  height: 200px;
  width: 330px;
  background: #333;
}

.age_gender_statistic .progresss {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.margin-3 {

}

/*642*/
.statistic_list {
  height: 530px;
  width: 780px;
  float: right;
  background: #fff;
  margin-right: 20px;
  border: 1px solid #ddd;
}

.device_nav {
  height: 50px;
  background: #f3f5fa;
  border-bottom: 1px solid #ddd;
}

.watch_btn {
  background: #fff;
  color: #000;
  width: 240px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.watch_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 240px;
  height: 50px;
  border-left: 1px solid lightgray;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.linto_btn {
  background: #fff;
  color: #000;
  width: 240px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.linto_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 240px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}


.margin-4 {
  height: 10px;
}

.data_type_nav {
  height: 50px;
  background: #f3f5fa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/*this.watch_bloodp_btn_active =false;
this.watch_heartshake_btn_active =false;
this.watch_pwv_btn_active = true;
this.watch_heartrate_btn_active*/
.watch_bloodp_btn {
  background: #fff;
  color: #000;
  width: 195px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.watch_bloodp_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 195px;
  height: 50px;
  border-left: 1px solid lightgray;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.watch_heartshake_btn {
  background: #fff;
  color: #000;
  width: 195px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.watch_heartshake_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 195px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.watch_pwv_btn {
  background: #fff;
  color: #000;
  width: 195px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.watch_pwv_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 195px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.watch_heartrate_btn {
  background: #fff;
  color: #000;
  width: 195px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 0px;
}

.watch_heartrate_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 195px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 0px;
}

.linto_bloodp_btn {
  background: #fff;
  color: #000;
  width: 156px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}
.linto_bloodp_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 156px;
  height: 50px;
  border-left: 1px solid lightgray;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}
.linto_bloodo_btn {
  background: #fff;
  color: #000;
  width: 156px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}
.linto_bloodo_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 156px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}
.linto_heartshake_btn {
  background: #fff;
  color: #000;
  width: 156px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}
.linto_heartshake_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 156px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}
.linto_heartrate_btn {
  background: #fff;
  color: #000;
  width: 156px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}
.linto_heartrate_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 156px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}
.linto_temp_btn {
  background: #fff;
  color: #000;
  width: 156px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 0px;
}
.linto_temp_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 156px;
  height: 50px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.margin-5 {
  height: 12px;
}

.margin-6 {
  height: 20px;
  width: 780px;
  float: right;
  margin-right: 20px;
}

.exception_total {
  height: 162px;
  width: 780px;
  margin-right: 20px;
  float: right;
  border: 1px solid #ddd;
}
.exception_total_nav {
  height: 50px;
  width: 780px;
  background: #f3f5fa;
  border-bottom: 1px solid #ddd;
}

.exception_total_nav .title {
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
}


.danger{
  width:100%;
  display: flex;
  height:110px;
}
.exception_total p {
  text-align: center;
  line-height:30px;
}

.exception_total .num_div {
  text-align: center;
  height: 45px;

}
.exception_total .num {
  margin: 0 auto;
  line-height:45px;
  font-size: 32px;
}

.exception_total li:first-child .num_div {
  color: #55c7f6;
}

.exception_total li {
  flex:1;
  margin:20px 0;
  border-right:1px solid #ddd;

}
.exception_total li:last-child{
  border-right:0;
}

.elbutton {
  color: #55c7f6;
}

.margin-7 {
  height: 20px;
}

.margin-8 {
  float: left;
  width: 100%;
  height: 20px;
}

.user_bloodPresure_trend {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ddd;
  height: 500px;
}

.user_bloodPresure_trend_nav {
  width: 1160px;
  height: 50px;
  background: #f3f5fa;
  border-bottom: 1px solid #ddd;
}

.user_bloodPresure_trend_nav .title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  line-height: 50px;
}

.user_bloodPresure_trend_nav .tipbtn {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  vertical-align: middle;
  width: 23px;
  height: 24px;
  background: url(./../../static/img/query.png) no-repeat;
}

.user_bloodPresure_charts {
  height: 300px;
  width: 580px;
  background: #333;
  float: left;
  border-right: 1px solid #ddd;
}

.user_bloodPresure_charts-span {
  float: left;
  width: 50%;
  text-align: center;
  border-right: 1px solid #ddd;
}

.user_bloodPresure_charts-span-content {
  float: left;
  width: 42%;
  margin-left: 40px;
  font-size: 14px;
  color: #333;
  border-right: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 43px;
}

.user_bloodPresure_charts_ {
  height: 300px;
  width: 575px;
  background: #333;
  float: right;
}
.user_bloodPresure_charts_-span {
  float: right;
  width: 49.9%;
  text-align: center;
}

.user_bloodPresure_charts_-span-content {
  float: right;
  width: 42%;
  margin-right: 40px;
  font-size: 14px;
  color: #333;
}


/* 可复用的解读文档按钮*/
.readDoc {
  color: #55c7f6;
  float: right;
  line-height: 50px;
  margin-right: 30px;
}

.margin-9 {
  height: 20px;
}

.margin-10 {
  height: 20px;
  float: left;
  width: 50%;
  border-right: 1px solid #ddd;
}
.margin-13 {
  height: 20px;
  float: right;
  width: 49.9%;
}

.margin-11 {
  height: 20px;
  float: left;
  width: 50%;
  border-right: 1px solid #ddd;
}

.margin-12 {
  height: 20px;
  float: right;
  width: 575;
}

.el-table {
  height: 361px;
}

.el-table::after {
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
