.logo_bg {
  background: #fff;
}

.margin {
  height: 20px;
}

.nav_bg {
  background:#fff;
  height:60px;
  width: 1200px;
  /*让div居中显示*/
  margin: 0 auto;
}

.main_btn {
  background: #fff;
  color: #000;
  width: 240px;
  height: 60px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.main_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 240px;
  height: 60px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.userManager_btn {
  background: #fff;
  color: #000;
  width: 240px;
  height: 60px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.userManager_btn.active {
  background: #42a2d8;
  color: #fff;
  width: 240px;
  height: 60px;
  border-right-style: solid;
  border-right-color: lightgray;
  border-right-width: 1px;
}

.logout_btn {
  background: #fff;
  height: 60px;
  margin-right: 50px;
  float: right;
}

.el-dropdown-class {
  float: right;
  height: 60px;
}

.el-dropdown-link {
  display: block;
  height: 60px;
  /*负责span中文字垂直居中*/
  line-height: 60px;
  margin-right: 50px;
}

.el-dropdown-menu-class {
  text-align: center;
}

.el-dropdown-item-class {
  color: #337ab7;
}
/**/
.margin-1 {
  height: 10px;
}

.content_bg {
  background: #fff;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
/**/
.total_statistic {
  background: #fff;
  height: 300px;
  width: 330px;
  float: left;
  margin-left: 20px;
  border-color: lightgray;
  border-width: 0.5px;
  border-style: solid;
}

.total_statistic .total_statistic_title {
  display: block;
  background: #f3f5fa;
  height: 50px;
  /*负责span中文字垂直居中*/
  line-height: 50px;
  padding-left: 30px;
  border-bottom: 1px solid #ddd;
}

.total_statistic .total_statistic_list {
  padding: 0 20px;
  color: #666;
}

.total_statistic .total_statistic_list li {
  position: relative;
  height: 30px;
  padding-top: 25px;
  border-bottom: 1px solid #ddd;
  display: block;
}

.total_statistic .total_statistic_list li span {
  vertical-align: bottom;
  height: 30px;
  line-height: 30px;
}

.total_statistic .total_statistic_list li #num {
  float: right;
  font-size: 30px;
}
/**/
.margin-2 {
  height: 40px;
  width: 330px;
  float: left;
}

.age_gender_statistic {
  background: #fff;
  height: 300px;
  width: 330px;
  float: left;
  margin-left: 20px;
  border-color: lightgray;
  border-width: 0.5px;
  border-style: solid;
}

.age_gender_statistic .age_gender_statistic_title {
  display: block;
  background: #f3f5fa;
  height: 50px;
  /*负责span中文字垂直居中*/
  line-height: 50px;
  padding-left: 30px;
  border-bottom: 1px solid #ddd;
}

.age_gender_statistic .age_gender_charts {
  height: 250px;
  width: 330px;
  background: #333;
}

.margin-3 {

}

/**/
.statistic_list {
  height: 642px;
  width: 780px;
  float: right;
  background: #fff;
  margin-right: 20px;
  border: 1px solid #ddd;
}

.device_nav {
  height: 50px;
  background: #f3f5fa;
  border-bottom: 1px solid #ddd;
}

.margin-4 {
  height: 10px;
}

.data_type_nav {
  height: 50px;
  background: #f3f5fa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
